@model AgentManager.WebApp.Models.Data.DeliveryNoteDetail

<div class="row align-items-start editorRow">
    <div class="form-group col-sm ml-2">
        <select name="ProductId" aria-label="Hãy chọn nguyên liệu" asp-for="ProductId" class="form-control" asp-items="ViewBag.Products"></select>
    </div>
    <div class="form-group col-sm ml-2">
        <input name="Quantity" placeholder="Nhập số lượng" asp-for="Quantity" class="form-control" />
    </div>
    <input name="DeliveryNoteId" asp-for="DeliveryNoteId" type="hidden"/>

    <div class="form-group mx-3 deleteRow">
        <div class="btn px-3 btn-danger">
            -
        </div>
    </div>
</div>